/* WriteThread.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
}

.thread-textarea {
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.button {
  margin-left: 10px;
}

.img-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.img-button img {
  width: 45px; /* Adjust the size as needed */
  height: 45px; /* Adjust the size as needed */
}
